<!DOCTYPE html>
<html>
<head>
	<title>Show Bola</title>
</head>
<body>
	<div id="app">
		<h1 class="header">
			SHOW BOLA
		</h1>
		<div class="arena">
			<div class="item_1">
				<h2>{{playerA.name}} has {{playerA.cards.length}} cards</h2>
				<h2>Score: {{playerA.rank}} | Selected {{playerA.selectedCards.length}} cards</h2>
				<div class="cardLayout">
					<div v-for="card in playerA.cards" :key="card.name" :card="card" 
					@click="cardSelect(card, playerA)"
					v-bind:class="[card.color === 'red' ? 'cardRed' : '']">
					    <h5>{{card.name}}</h5>
					</div>
				</div>
				<button @click="groupByColor">group by color</button>
				<button @click="groupBySequence">Group by sequence</button>
				<button @click="takeCard(playerA)">Take a card</button>
				<button @click="giveCard(playerA)">Give Cards</button>
				<button @click="show()">Show</button>
			</div>
			<div class="item_2">
				<div>
					<h2>All cards ({{standardDeck.deck.length}} available)</h2>
					<button @click="shuffle">Shuffle</button>
					<button @click="giveCards">Give cards</button>
					<div class="cardLayout">
						<div v-for="card in standardDeck.deck" :key="card.name" 
						:card="card"
						v-bind:class="[card.color === 'red' ? 'cardRed' : '']">
						    <h5>{{card.name}}</h5>
						</div>
					</div>
				</div>
				<div>
					<h2>Cards given back ({{standardDeck.cardsGivenBack.length}})</h2>
					<div class="cardLayout">
						<div v-for="card in standardDeck.cardsGivenBack" :key="card.name" 
						:card="card"
						v-bind:class="[card.color === 'red' ? 'cardRed' : '']">
						    <h5>{{card.name}}</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="item_3">
				<h2>{{playerB.name}} has {{playerB.cards.length}} cards</h2>
				<h2>Score: {{playerB.rank}} | Selected {{playerB.selectedCards.length}} cards</h2>
				<div class="cardLayout">
					<div v-for="card in playerB.cards" :key="card.name" :card="card" 
					@click="cardSelect(card, playerB)"
					v-bind:class="[card.color === 'red' ? 'cardRed' : '']">
					    <h5>{{card.name}}</h5>
					</div>
				</div>
				<button @click="groupByColor">Group by color</button>
				<button @click="groupBySequence">Group by sequence</button>
				<button @click="takeCard(playerB)">Take a card</button>
				<button @click="giveCard(playerB)">Give Cards</button>
				<button @click="show()">Show</button>
			</div>
		</div>
	</div>
</body>
	<style type="text/css">
		.arena{
			display: grid;
			grid-template-rows: auto;
		}
		.cardLayout{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
		.item_2{
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		.cardRed{
			color: red;
		}
		.header{
			text-align: center;
		}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="test.js"></script>
<!-- 	<script type="text/javascript" src="game.js"></script> -->
</html>
