
body{
  background: white;
  font-family: cursive;
  color: yellow;
}

#app{
  display: grid;
}

.main{
  display: grid;
  grid-template-rows: 1fr 16fr;
}

#start{
  display: grid;
  grid-template-rows: 1fr 10fr;
  -webkit-font-smoothing: antialiased;
  justify-items: center;
}

#game{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.createGame{
  display: grid;
  grid-template-rows: 0fr 0fr 0fr 0fr;
  grid-row-gap: 20px;
  width: 30%;
}

.startNavButtons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  width: 30%;
  height: 10%;

}

.joinGame{
  display: grid;
  grid-template-rows: 0fr 0fr 0fr;
  grid-row-gap: 20px;
  width: 30%;
}

.arena{
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  width: 98%;
  justify-self: center;
  grid-row-gap: 10px;
}

.notification{
  background: #233659;
  border-radius: 14px;
}

.infoBoard{
  display: grid;
  grid-template-rows: 0.5fr 2fr 2fr;
  background: #233659;
  border-radius: 14px;
  width: 94%;
  justify-self: center;
  text-align: center;
  font-size: large;
}

.cardLayout{
  display: grid;
  grid-template-rows: 1fr 2fr;
  background: #233659;
  border-radius: 14px;
  text-align: center;
  box-shadow: 5px 5px #5d6677;
}

.deckHeader{
  display: grid;
  grid-template-columns: 4fr 1fr;
  text-align: center;
}

.cardTitle{
  text-align: left;
}

.deckAction{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.cardLayout .item_1{
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
}

.cardLayout .item_2{
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.playerCards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.playerActions{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.deck{
  display: grid;
  grid-template-rows: 1fr 4fr;
  background: #233659;
  border-radius: 14px;
  text-align: center;
  box-shadow: 5px 5px #5d6677;
}

.deckTable{
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
}

.cardRed{
  color: red;
}

.header{
  text-align: center;
  color: black;
}

.mainDeck, .cardsBackToDeck, .cardsByOpponent{
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.mainDeck, .cardsByOpponent{
  border-right: 1px solid #f18f8f;
}

.cardsBackToDeck > .item_2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cardsByOpponent > .item_2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.rules{
  display: grid;
  grid-template-rows: 0fr 0fr 0fr 0fr;
  grid-row-gap: 10px;
  text-align: left;
  color: aqua;
}

.roonInfo{
  display: grid;
  grid-template-rows: 0fr 0fr;
  text-align: left;
  color: aqua;
}

.players{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.playersCard{
  display: grid;
  background: #233659;
  border-radius: 14px;
  text-align: center;
}

.resultTitle {
  color: red;
}

.playerCardOnline {
  background: #235957;
}

.playerCardOffline {
  background: #233659;
}

.chat {
  display: grid;
  grid-template-rows: 0.5fr 3fr 1fr;
}

.sendMessage {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.messageBox {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.messageBy {
  color: aqua;
}
